body{background-image: url(https://st4.depositphotos.com/24595320/39536/v/450/depositphotos_395365738-stock-illustration-cute-cat-seamless-background-repeating.jpg); background-repeat: repeat;}
body *,
body *::before,
body *::after {margin:0;padding:0;border:0;background:transparent;box-sizing:border-box;text-decoration:none;outline:none;font-family:inherit;}
 ol, ul, li {list-style:square;display:block;} 
table {border-collapse: collapse;border-spacing:0;}
a img {border: none;} 

input,
textarea,
select,
button,
input{appearance: none; border-radius: 0;}

button,
a{cursor: pointer; color: inherit;}
textarea{resize: none;}

[readonly] + span,
[readonly]{pointer-events: none; opacity: .4;}

body{
    font-family: 'Comic Sans MS','Comic Sans','Montserrat', sans-serif;
}